.container1 {
    display: flex;
    flex-wrap: nowrap;
    width: 800px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.container3 {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 800px;
}

.fly {
    background-color: red;
    height: 120px;
    width: 100px;
    margin: 10px;
    color: white;
    text-align: center;
}

.flyy {
    background-color: yellow;
    height: 120px;
    width: 100px;
    margin: 10px;
    color: white;
    text-align: center;
}

.flyyy {
    background-color: blue;
    height: 120px;
    width: 100px;
    margin: 10px;
    color: white;
    text-align: center;
}



