header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 100px;
    align-items: baseline;
}

.content {
    display: flex;
    flex-direction: row;
}

nav {
    height: 100vh;
    width: 400px;
}

.p1 {
    font-size: 2.5rem;
}

.p2 {
    font-size: 1rem;
    margin-left: 20px;
    color: gray;
}

.bor {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.right {
    margin: 50px;
}

.boxes {
    border: 1px solid black;
    margin-right: 5px;
}

.slc {
    position: relative;
    margin-left:300px;
    width: 200px;
    left: 380px;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 1250px;
    height: 100vh;

    justify-content: space-between;
}

.shoes {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.shoes p {
    margin-left: 20px;
}

.pobat {
    margin-top: 265px;
}

.batas1 {
    position: absolute;
    background-image: url('https://cdn.flightclub.com/750/TEMPLATE/011237/1.jpg');
    background-size: 100% 100%;
    width: 400px;
    height: 250px;
}

.batas2 {
    position: absolute;
    background-image: url('https://cdn.flightclub.com/750/TEMPLATE/311888/1.jpg');
    background-size: 100% 100%;
    width: 400px;
    height: 250px;
}

.batas3 {
    position: absolute;
    background-image: url('https://cdn.flightclub.com/TEMPLATE/011633/1.jpg');
    background-size: 100% 100%;
    width: 400px;
    height: 250px;
}

.batas4 {
    position: absolute;
    background-image: url('https://images.stockx.com/images/Air-Jordan-9-Retro-Chile-Red-GS-Product.jpg?fit=fill&bg=FFFFFF&w=140&h=100&fm=webp&auto=compress&q=90&dpr=2&trim=color&updated_at=1652711327');
    background-size: 100% 100%;
    width: 400px;
    height: 250px;
}

.batas5 {
    position: absolute;
    background-image: url('https://images.stockx.com/images/Air-Jordan-9-Retro-White-Gym-Red-Product.jpg?fit=fill&bg=FFFFFF&w=140&h=100&fm=webp&auto=compress&q=90&dpr=2&trim=color&updated_at=160631837');
    background-size: 100% 100%;
    width: 400px;
    height: 250px;
}

.batas6 {
    position: absolute;
    background-image: url('https://images.stockx.com/images/Air-Jordan-9-Retro-Statue-Product.jpg?fit=fill&bg=FFFFFF&w=140&h=100&fm=webp&auto=compress&trim=color&q=90&dpr=2&updated_at=1607044462');
    background-size: 100% 100%;
    width: 400px;
    height: 250px;
}

.heart {
    position: relative;
    left: 350px;
    top: 2px
}

.heart:hover {
    color: red;
}

.sale {
    position: relative;
    height: 20px;
    width: 60px;
    text-align: center;
    background-color: blue;
    color: white;
    top: -20px;
    left: 10px;
}

.sale:hover {
    transform: scale(2, 3);
}
