.containera {
    display: flex;
    background-color: blue;
}


.container {
    display: inline-flex;
    background-color: blue;
}

.fly {
    background-color: purple;
    height: 50px;
    min-width: 50px;
    margin: 5px;
}

.flyy {
    background-color: purple;
    height: 50px;
    width: 100%;
    margin: 5px;
    padding: 5px
}